<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register | FootBook</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>

<div class="form-container">
    <h2 class="text-center">Create Your FootBook Account</h2>

    <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
        <div>
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
            <!-- Optional error message placeholder -->
            <div class="text-center" style="color: red; margin-bottom: 10px;">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
            <!-- Optional error message placeholder -->
            <div class="text-center" style="color: red; margin-bottom: 10px;">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
        </div>
        <div>
            <label for="confirm_password">Repeat Password:</label>
            <input type="password" placeholder="Confirm Password" id="confirm_password" th:field="*{confirmPassword}" required>
            <!-- Optional error message placeholder -->
            <div class="text-center" style="color: red; margin-bottom: 10px;">
                <p th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></p>
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn">Register</button>
        </div>

        <div class="text-center mt-4">
            <p>Already have an account? <a th:href="@{/login}">Login here</a></p>
        </div>
    </form>
</div>

<footer>
    © 2026 FootBook. All rights reserved.
</footer>
</body>
</html>
